{% extends "TuanQuynhAdminBundle::layout.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block content %}
	{# PAGE TITLE #}
    {% include 'TuanQuynhAdminBundle:Partial:page_title.html.twig' with {'title': 'Page HTML'|trans } %}

	<div class="wrapper wrapper-content">
		<div class="row">
            <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{ 'List page html'|trans }}</h5>
                    <div class="ibox-tools">
						<a class="btn btn-xs btn-primary" href="{{ path('tuanquynh_admin_pagehtml_create') }}">
							<i class="fa fa-plus"></i> {{ 'Add new'|trans }}
						</a>
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                <table class="table table-striped table-bordered table-hover" >
	                <thead>
		                <tr>
		                    <th width="5%">#</th>
		                    <th width="40%">{{ 'Title'|trans }}</th>
		                    <th width="40%">{{ 'Slug'|trans }}</th>
		                    <th width="5%" class="text-center">{{ 'Active'|trans }}</th>
		                    <th width="10%" class="text-center">{{ 'Actions'|trans }}</th>
		                </tr>
	                </thead>
	                <tbody>
                        {% for record in paginator %}
		                <tr class="gradeX">
		                    <td>{{ record.id }}</td>
		                    <td>{{ record.title }}</td>
		                    <td>{{ record.slug }}</td>
		                    <td class="text-center">
                                {% if record.isActive == 1 %}
                                <i class="fa fa-check-circle text-success"></i>
                                {% else %}
                                <i class="fa fa-circle text-default"></i>
                                {% endif %}
                            </td>
		                    <td class="text-center">
                                <a href="{{ path('tuanquynh_admin_pagehtml_edit', {'id': record.id }) }}" title="{{ 'Edit'|trans }}" class=""><i class="fa fa-pencil"></i></a>
                                &nbsp;
                                <a href="{{ path('tuanquynh_admin_pagehtml_delete', {'id': record.id }) }}" title="{{ 'Delete'|trans }}" class="text-danger btn-link-delete"><i class="fa fa-trash"></i></a>
                            </td>
		                </tr>
                        {% endfor %}
	                </tbody>
                </table>

                {{ paginator.renderLinks()|raw }}

                </div>
            </div>
        </div>
        </div>

	</div><!-- /.wrapper-content -->
{% endblock content %}
