{% use "form_div_layout.html.twig" %}

{% block form_widget_simple -%}
    {% if type is not defined or 'file' != type %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block textarea_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-control')|trim}) %}
    {{- parent() -}}
{%- endblock textarea_widget %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{% block checkbox_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' js-switch')|trim}) %}
    {{- parent() -}}
{%- endblock %}

{# Labels #}

{# ROWS #}
{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        <div class="col-sm-10">
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
        </div>
    </div>
    <div class="hr-line-dashed"></div>
{%- endblock form_row %}

{% block button_row -%}
    <div class="form-group">
        <div class="col-sm-10">
        {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock button_row %}

{# ERROR #}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {% for error in errors %}
            <p>{{ error.message }}</p>
        {% endfor %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
