{% trans_default_domain 'FOSUserBundle' %}

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img src="{{ asset('dashboard/img/password.png') }}" alt="Symfony 2" />
        </div>

        {% if invalid_username is defined %}
        <div class="alert alert-danger alert-dismissable text-left">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
        </div>
        {% endif %}

        <form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="fos_user_resetting_request m-t" role="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="{{ 'resetting.request.username'|trans }}" id="username" name="username" required="required">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">{{ 'resetting.request.submit'|trans }}</button>

            <a href="{{ path('fos_user_security_login') }}"><small>Login</small></a>
        </form>
        <p class="m-t"> <small>&copy; 2014 <a href="http://i-designer.net" target="_blank">I-Designer</a></small> </p>
    </div>
</div>
